<form class="well container" ng-submit="nav.register()">
	<label>Username</label> <br/>
	<input class="form-control" placeholder="Username..." ng-model="nav.user.username" required />
	
	<label>Email</label> <br/>
	<input type="email" class="form-control" placeholder="Email..." ng-model="nav.user.email" required />
	
	<label>Password</label> <br/>
	<input type="password" class="form-control" placeholder="Password..." ng-model="nav.user.password" required />
	
	<label>Confirm Password</label> <br/>
	<input type="password" class="form-control" placeholder="Confirm Password..." ng-model="nav.user.confirmPass" required />
	
	<div style="text-align: center;">
		<button type="submit" class="btn btn-lg btn-success" ng-disabled="!nav.user.username  || !nav.user.email || !nav.user.password || !(nav.user.password === nav.user.confirmPass)">Submit</button>
	</div>
</form>